<div class="header">{{title}}</div>
<div class="content" style="padding: 0 20px 0">

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
</div>
<div class="footer">
    <button class="success odal-success">确定</button>
    <button class="cancel modal-cancel">取消</button>
</div>